<br><br>
<div class="border-top pt-4" id="foot"></div>
<footer class="bg-light text-dark">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <h5 class="text mb-3">Stay account</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#!" class="nav-link ">Account</a></li>
                    <li><a href="#!" class="nav-link">Checkout</a></li>
                    <li><a href="#!" class="nav-link">Start</a></li>
                    <li><a href="#!" class="nav-link">Catalog</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h5 class="text mb-3">Stay connected</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#!" class="nav-link">Facebook</a></li>
                    <li><a href="#!" class="nav-link">Instagram</a></li>
                    <li><a href="#!" class="nav-link">Twitter</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text mb-3">Stay Updated</h5>
                <input type="search" placeholder="Enter your email">
                <i class='bx bx-paper-plane'></i>
            </div>
        </div>
        
        <div >
            <div class="row">
                <div class="col-md-6 text-center text-md-end ">
                    <p class="small text-muted mb-0 "><a href="#" class="text-dark anchor">&copy; 2024 All rights reserved.</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
