<div class="card bg-dark text-white" id="card">
    <img [src]="ImageUrl" class="card-img" alt="image de chambre" height="500px" width="500px">
    <div class="card-img-overlay">
        <div class="card bg-yellow float-md-end" id="card2">
            <div class="card-body">
                <h6 class="card-title">New Arrivel</h6>
                <h2 class="card-text">Discover Our</h2>
                <h2 class="card-text">New Collection</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Autem rem magnam, eum, eligendi nobis expedita harum ea optio aliquid 
                </p>
                <button>BUY NOW</button>
            </div>
          </div>
    </div>
  </div>