<br><br>
<figure class="text-center">
    <blockquote class="blockquote">
        <h6 >What are your setup with</h6>
      <h3>Furniro Furniture</h3>
    </blockquote>
  </figure>
<div class="main-container">
  <div class="img1">
    <div class="container-img">
      <img src="assets/4.jpg" alt="" height="300px" width="350px">
    </div>
  
    <div class="container-img">
      <img src="assets/5.jpg" alt="" height="300px" width="350px">
    </div>
  </div>

  <div class="container-img">
    <img src="assets/6.jpg" alt="" height="400px" width="350px">
  </div>

<div class="img2">
  <div class="container-img">
    <img src="assets/7.jpg" alt="" height="300px" width="350px">
  </div>

  <div class="container-img">
    <img src="assets/8.jpg" alt=""height="270px" width="185px">
  </div>
</div>

  <div class="img3">
    <div class="container-img">
      <img src="assets/9.jpg" alt="" height="500px" width="250px">
    </div>
  </div>
</div>