<br><br>
<figure class="text-center">
    <blockquote class="blockquote">
      <h3>Browse The Range </h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </blockquote>
  </figure>
  <br><br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img [src]="imageUrl" class="card-img-top" alt="..." height="500px">
      </div><br>
      <h5 class="card-title text-center">Dining</h5>
    </div>
    <div class="col">
      <div class="card">
        <img [src]="imageUrl1" class="card-img-top" alt="..." height="500px">
      </div><br>
      <h5 class="card-title text-center">Living</h5>
    </div>
    <div class="col">
      <div class="card">
        <img [src]="imageUrl2" class="card-img-top" alt="..." height="500px">
      </div><br>
      <h5 class="card-title text-center">Bedroom</h5>
    </div>
  </div>