<br><br>
<figure class="text-center">
    <blockquote class="blockquote">
      <h3>Our products </h3>
    </blockquote>
  </figure>
  
  <div class="cot">
    <div class="main_container">
      <img [src]="imgUrl"  alt="..." height="300px" width="85%" >
      <div class="card-body">
        <h5 class="card-title">Syltherine</h5>
        <p class="card-text">Stylish cafe chair</p>
        <h5 class="card-title">Rp 2.500.000     Rp 3.200.000</h5>
        <span class="position-absolute top-0 start-50 p-2 rounded-circle" id="span1">-50+</span>
      </div>
      <div class="overlay">
        <button>Add to New</button><br>
        <div>
          <a href="" class="me-3"><i class='bx bx-share-alt'></i>Share</a>
          <a href="" class="me-3"><i class='bx bx-transfer'></i>Compare</a>
          <a href=""><i class='bx bx-heart'></i>Like</a>
        </div>
      </div>
    </div>

    <div class="main_container">
      <img [src]="imgUrl2"  alt="..." height="300px" width="85%">
      <div class="card-body">
        <h5 class="card-title">Leviosa</h5>
        <p class="card-text">Stylish cafe chair</p>
        <h5 class="card-title">Rp 2.500.000</h5>
        <span class="position-absolute top-0 start-50 p-1 rounded-circle" id="span2">-50+</span>
      </div>
      <div class="overlay">
        <button>Add to New</button><br>
        <div>
          <a href="" class="me-3"><i class='bx bx-share-alt'></i>Share</a>
          <a href="" class="me-3"><i class='bx bx-transfer'></i>Compare</a>
          <a href=""><i class='bx bx-heart'></i>Like</a>
        </div>
      </div>
    </div>
    <div class="main_container">
      <img [src]="imgUrl3"  alt="..." height="300px" width="85%">
      <div class="card-body">
        <h5 class="card-title">Lolito</h5>
        <p class="card-text">Luxury big sofa</p>
        <h5 class="card-title">Rp 7.000.000     Rp 14.000.000</h5>
        <span class="position-absolute top-0 start-50 p-1 rounded-circle" id="span2">-50+</span>
      </div>
      <div class="overlay">
        <button>Add to New</button><br>
        <div>
          <a href="" class="me-3"><i class='bx bx-share-alt'></i>Share</a>
          <a href="" class="me-3"><i class='bx bx-transfer'></i>Compare</a>
          <a href=""><i class='bx bx-heart'></i>Like</a>
        </div>
      </div>
    </div>
    <div class="main_container">
      <img [src]="imgUrl4"  alt="..." height="300px" width="85%">
      <div class="card-body">
        <h5 class="card-title">Respira</h5>
        <p class="card-text">Outdoor bar table and stool</p>
        <h5 class="card-title">Rp 500.000</h5>
        <span class="position-absolute top-0 start-50 p-1 rounded-circle" id="span3">New</span>
      </div>
      <div class="overlay">
        <button type="submit">Add to New</button><br>
        <div>
          <a href="" class="me-3"><i class='bx bx-share-alt'></i>Share</a>
          <a href="" class="me-3"><i class='bx bx-transfer'></i>Compare</a>
          <a href=""><i class='bx bx-heart'></i>Like</a>
        </div>
      </div>
    </div>
</div>

